body {
  font-family: 'Open Sans', arial;
  margin: 0px;
  padding: 0px;
  background: steelblue;
}
* {
  font-size: 16px;
  box-sizing: border-box;
}

#wrapper {
  max-width: 1200px;
  position: relative;
  height: 100%;
  margin: 0 auto;
}
#tableContainer {
  border: 1px solid #38678f;
  position: absolute;
  bottom: 0;
  top: 0;
  right: 0;
  left: 0;
  padding-top: 80px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
}
#tableContainer>input,
#tableContainer>span {
  display: inline-block;
  line-height: 40px;
  position: absolute;
  top: 0;
  color: white;
  text-shadow: rgb(56, 103, 143) 0px 1px 0px;
}
input#arrivalsCheck {
  top: 10px;
  left: 10px;
}
input#arrivalsCheck + span {
  left: 30px;
}
input#departuresCheck {
  top: 10px;
  left: 150px;
}
input#departuresCheck + span {
  left: 170px;
}
#arrivalsCheck:not(:checked) ~ #tBodyContainer .arrivals {
  display: none;
}
#arrivalsCheck:not(:checked) ~ #tBodyContainer .departures {
  background: white
}
#departuresCheck:not(:checked) ~ #tBodyContainer .departures {
  display: none;
}
#arrivalsCheck:not(:checked) ~ #tBodyContainer .arrivals {
  background: white;
}
#bg {
  top: 80px;
  bottom: 0;
  position: absolute;
  background: white;
  z-index: -2;
  left: 0;
  right: 0;
}
#tBodyContainer {
  overflow-y: auto;
  height: 100%;
  border-top: 1px solid #38678f;
}

table {
	width: 100%;
	border-collapse: collapse;
  overflow: hidden;
}
td, 
th {
	border-right: 1px solid #cccccc;
	border-bottom: 1px solid #cccccc;
	border-top: 0px;
}

th {
  height: 0;
  line-height: 0;
  padding-top: 0;
  padding-bottom: 0;
  color: transparent;
  border: none;
  white-space: nowrap;
}
th:before {
  font-weight: normal;
  display: block;
  position: absolute;
  background: transparent;
  color: white;
  text-shadow: rgb(56, 103, 143) 0px 1px 0px;
  top: 40px;
  margin-left: -1px;
  line-height: normal;
  padding: 11px;
  height: 40px;
	box-sizing: border-box;
}
th:not(.type):before {
	border-left: 1px solid #38678f;
}

th.type:before {
  content: ' ';
  width: 100%;
  border-top: 1px solid #38678f;
  background: steelblue;
  box-shadow: 0 6px 30px rgba(0, 0, 0, 0.2);
}
th.time:before {
  content: 'Плановое время';
}
th.flight:before {
  content: 'Рейс';
}
th.airlines:before {
  content: 'Авиакомпания';
}
th.city:before {
  content: 'Направление';
}
th.status:before {
  content: 'Статус рейса';
}
th.logo:before {
  content: 'Лого';
}

tr:nth-child(even) {
  background: rgba(0, 0, 0, 0.05);
}

td {
	position: relative;
  background: transparent;
}
td.highlighted:after {
  position: relative;
  z-index: -1;
  height: 10000px;
  margin: 0 0 -10000px;
  top: -5000px;
  width: 100%;
  padding: 0 10px;
  left: -10px;
  display: block;
  content: '';
}
tr:hover>td.highlighted{
  background-color: rgba(185, 185, 185, 0.65);
}
td:hover:after {
	background-color: rgb(222, 222, 222);
}
td.type div.icon {
  background-image: url('http://www.vnukovo.ru/bitrix/templates/.default/images/icon-plane.png');
  height: 19px;
  width: 24px;
  cursor: pointer;
}
.arrivals>td:first-child>div.icon {
  background-position: 24px 19px;
}
.departures>td:first-child>div.icon {
  background-position: 0px 19px;
}
.departures .type:hover>.icon,
.departures:active .type>.icon {
  background-position: 0px 0px;
}
.arrivals .type:hover>.icon,
.arrivals:active .type>.icon {
  background-position: 24px 0px;
}
tr .infoWindow {
  position: absolute;
  left: 90%;
  top: 0;
  z-index:10;
  border: 1px solid #38678f;
  background-color: white;
  width: 350px;
  opacity: 0;
  visibility: hidden;
  transition: 0.2s linear 0.5s;
  -webkit-transition: 0.2s linear 0.5s;
	box-shadow: 0 5px 30px rgba(0, 0, 0, 0.4);
}
tr:last-child .infoWindow,
tr:nth-last-child(2) .infoWindow,
tr:nth-last-child(3) .infoWindow,
tr:nth-last-child(4) .infoWindow {
  bottom: 0;
  top:initial;
}
.infoWindow:hover,
tr:active .infoWindow {
  visibility: visible;
  opacity: 1;
  transition: 0s linear 0s;
  -webkit-transition: 0s linear 0s;
}
.infoWindow table td:first-child {
	border-right: 1px solid #38678f;
	border-bottom: 1px solid #38678f;
  background: steelblue;
  box-shadow: 7px 0px 30px rgba(0, 0, 0, 0.2);
}
.infoWindow .title {
  text-align: right;
  color: white;
  text-shadow: rgb(56, 103, 143) 0px 1px 0px;
}

td.smallTime,
td.smallStatus {
	display: none;
}

@media (min-width: 1100px) {
	td{
		padding: 10px;
	}
  .time {
    min-width: 156px; 
  }
  .flight {
    min-width: 62px; 
  }
  .logo {
    min-width: 62px; 
  }
  .airlines {
    min-width: 141px; 
  }
  .city {
    min-width: 130px; 
  }
  .status {
    min-width: 128px; 
  }
}

@media (max-width: 1100px) {
	* {
		font-size: 14px;
	}
	td {
		padding: 5px;
	}
	th:before {
		padding: 13px 5px;
	}
  th.time:before {
    content: 'Время';
  }
  th.logo:before {
    content: 'Компания';
  }
  th.status:before {
    content: 'Статус';
  }
  td.highlighted:after {
    padding: 0px 5px;
    left: -5px;
  }
}

@media (max-width: 900px) {
  .airlines {
    display: none;
  }
}

@media (max-width: 600px) {
	td.time,
	td.status {
		display: none;
	}
	td.smallTime,
	td.smallStatus {
		display: table-cell;
	}
}

@media (max-width: 500px) {
	.logo {
		display: none;
	}
	.city {
		display: none;
	}
}