body {
	font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
}

.container {
	border: 1px solid grey;
	padding-top: 40px;
	/*background-color: #B2B2B2;*/
  position: absolute;
  bottom: 100px;
  top: 100px;
  right: 100px;
  left: 100px;
}
.tBodyContainer {
	overflow-y: auto;
	height: 100%;
	border-top: 1px solid grey;
	box-sizing: border-box;
	/*background-color: white;*/
}

#table {
	width: 100%;
	border-collapse: collapse;
}
#table td, 
#table th {
	padding: 10px;
	border-right: 1px solid grey;
	border-bottom: 1px solid grey;
	border-top: 0px;
}

#table th {
  height: 0;
  line-height: 0;
  padding-top: 0;
  padding-bottom: 0;
  color: transparent;
  border: none;
  white-space: nowrap;
}
#table th>div{
  position: absolute;
  background: transparent;
  color: black;
  top: 0;
  margin-left: -10px;
  line-height: normal;
  padding: 11px;
}
#table th:not(:first-child)>div {
	border-left: 1px solid grey;
}
#table td {
	position: relative;
}
#table td:after {
  position: relative;
  z-index: -1;
  height: 10000px;
  margin: 0 0 -10000px;
  top: -5000px;
  width: 100%;
  padding: 0 10px;
  left: -10px;
  display: block;
  content: '';
}
#table tbody>tr:hover>td,
#table td:hover:after {
	background-color: #659CE6;
}